### Import data

In [1]:
from pandas_datareader import data as pdr
import yfinance as yf
import pandas as pd
import numpy as np
import pickle
import os.path
from DATA import get_filtered_stock_data as gfs

In [10]:
stock_data = None
file_path = "ESG_DATA.csv"
column_name = 'environment_level'
column_value = 'Excellent'
threshold = None
operator = 'geq'
prefixes= ['SE', 'DK','NO']
start_date = '2010-01-01'
end_date = '2021-04-30'

CPU times: total: 0 ns
Wall time: 0 ns

In [11]:
gfs(file_path, column_name, column_value, prefixes, start_date, end_date, time='y', threshold=threshold, operator=operator)

                           SE0011337708  DK0010263722  DK0060094928
Date
2010-12-31 00:00:00+01:00      0.233126     -0.301292      0.000000
2011-12-31 00:00:00+01:00      0.085138     -0.637522      0.000000
2012-12-31 00:00:00+01:00      0.402724      0.004191      0.000000
2013-12-31 00:00:00+01:00      0.441324     -0.208075      0.000000
2014-12-31 00:00:00+01:00      0.042047      0.036437      0.000000
2015-12-31 00:00:00+01:00      0.447685     -0.089911      0.000000
2016-12-31 00:00:00+01:00     -0.009339      0.083899      0.056770
2017-12-31 00:00:00+01:00      0.183381     -0.068273      0.276583
2018-12-31 00:00:00+01:00      0.077873      0.409519      0.299253
2019-12-31 00:00:00+01:00      0.405096      0.448306      0.502530
2020-12-31 00:00:00+01:00      0.020206      0.755178      0.664913
2021-12-31 00:00:00+01:00      0.170957      0.089872     -0.282230

In [4]:
#filtered_data = get_filtered_stock_data(file_path, column_name, column_value, prefixes, start_date, end_date, time='y', threshold=threshold, operator=operator)
#filtered_data

NameError: name 'read_data' is not defined